$mdc-theme-primary: #455a64;
$mdc-theme-secondary: #64ffda;
$mdc-theme-background: #e1e2e1;


@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";